#One Hot Encoding with many categories in the feature

In [1]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/kaggle/mercedes.csv' , usecols = ['X0','X1','X2','X3','X4','X5','X6'])

In [2]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [3]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [4]:
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [5]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [6]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [7]:
import numpy as np
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [8]:
lst_10.append('X1')

In [9]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]

In [10]:
df[lst_10].head()

   aa  s  b  l  v  r  i  a  c  o X1
0   0  0  0  0  1  0  0  0  0  0  v
1   0  0  0  0  0  0  0  0  0  0  t
2   0  0  0  0  0  0  0  0  0  0  w
3   0  0  0  0  0  0  0  0  0  0  t
4   0  0  0  0  1  0  0  0  0  0  v