#Ordinal Number Encoding

In [1]:
import datetime

In [2]:
today_date = datetime.datetime.today()

In [3]:
today_date

datetime.datetime(2020, 11, 20, 18, 36, 55, 685367)

In [4]:
today_date - datetime.timedelta(3)

datetime.datetime(2020, 11, 17, 18, 36, 55, 685367)

In [5]:
#List comprehension 
days  = [today_date - datetime.timedelta(x) for x in range(0,14)]

In [6]:
import pandas as pd

In [7]:
data = pd.DataFrame(days)

In [8]:
data.head()

                           0
0 2020-11-20 18:36:55.685367
1 2020-11-19 18:36:55.685367
2 2020-11-18 18:36:55.685367
3 2020-11-17 18:36:55.685367
4 2020-11-16 18:36:55.685367

In [9]:
data.columns = ['Day']

In [10]:
data.head()

                         Day
0 2020-11-20 18:36:55.685367
1 2020-11-19 18:36:55.685367
2 2020-11-18 18:36:55.685367
3 2020-11-17 18:36:55.685367
4 2020-11-16 18:36:55.685367

In [11]:
data['weekday'] = data['Day'].dt.weekday

In [12]:
data.head()

                         Day  weekday
0 2020-11-20 18:36:55.685367        4
1 2020-11-19 18:36:55.685367        3
2 2020-11-18 18:36:55.685367        2
3 2020-11-17 18:36:55.685367        1
4 2020-11-16 18:36:55.685367        0

In [13]:
data

                          Day  weekday
0  2020-11-20 18:36:55.685367        4
1  2020-11-19 18:36:55.685367        3
2  2020-11-18 18:36:55.685367        2
3  2020-11-17 18:36:55.685367        1
4  2020-11-16 18:36:55.685367        0
5  2020-11-15 18:36:55.685367        6
6  2020-11-14 18:36:55.685367        5
7  2020-11-13 18:36:55.685367        4
8  2020-11-12 18:36:55.685367        3
9  2020-11-11 18:36:55.685367        2
10 2020-11-10 18:36:55.685367        1
11 2020-11-09 18:36:55.685367        0
12 2020-11-08 18:36:55.685367        6
13 2020-11-07 18:36:55.685367        5

#Target Guided Ordinal Encoding

Ordering the labels according to the target

Replace the labels by the joint probability of being 1 or 0

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('/content/drive/MyDrive/kaggle/titanic.csv' , usecols = ['Cabin', 'Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [16]:
df['Cabin'].fillna('Missing' , inplace = True)

In [17]:
df.head(20)

    Survived    Cabin
0          0  Missing
1          1      C85
2          1  Missing
3          1     C123
4          0  Missing
5          0  Missing
6          0      E46
7          0  Missing
8          1  Missing
9          1  Missing
10         1       G6
11         1     C103
12         0  Missing
13         0  Missing
14         0  Missing
15         1  Missing
16         0  Missing
17         1  Missing
18         0  Missing
19         1  Missing

In [19]:
df['Cabin'].astype(str).str[0]
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [20]:
df['Cabin'] = df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [21]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [22]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [23]:
df.groupby(['Cabin'])['Survived'].mean().sort_values().index

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [24]:
ordinal_labels = df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [25]:
enumerate(ordinal_labels,0)

In [26]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'A': 2, 'B': 6, 'C': 4, 'D': 8, 'E': 7, 'F': 5, 'G': 3, 'M': 1, 'T': 0}

In [27]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

In [28]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [29]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()

In [30]:
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [31]:
df['mean_ordinal_encode'] = df['Cabin'].map(mean_ordinal)

In [32]:
df.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854

In [33]:
df['Cabin'] = df['Cabin'].map(mean_ordinal)
df.head()

   Survived     Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0  0.299854                     1             0.299854
1         1  0.593220                     4             0.593220
2         1  0.299854                     1             0.299854
3         1  0.593220                     4             0.593220
4         0  0.299854                     1             0.299854