In [1]:
def even_odd(num):
  if num%2==0:
    print('even')
  else:
    print('odd')

In [2]:
even_odd(56)

even

In [3]:
#print vs return
def helloworld():
  print("hello")

In [5]:
helloworld()

hello

In [6]:
val =helloworld()

hello

In [7]:
print(val)

None

In [13]:
def helloworld1():
  return"hello"

In [14]:
helloworld1()

'hello'

In [17]:
val1 = helloworld1()

In [18]:
print(val1)

hello

In [19]:
def hello(name , age =23):
  print("my name is {} and i am {} years old" .format(name , age))

In [21]:
hello('daman')

my name is daman and i am 23 years old

In [26]:
#positional and keyword argument
def hi(*args ,**kwargs):
  print(args)
  print(kwargs)

In [27]:
hi('daman','preet','singh',age = 20 ,dob = 2000)

('daman', 'preet', 'singh')
{'age': 20, 'dob': 2000}

In [30]:
st = [1,2,3,4,5,6,7]

In [34]:
def evenoddsum(st):
  evensum = 0
  oddsum = 0
  for i in st :
    if i%2==0:
      evensum = evensum+i
    else:
      oddsum = oddsum+i
  return evensum , oddsum

In [35]:
evenoddsum(st)

(12, 16)

In [37]:
#LAMBDA FUNCTION
addition = lambda a,b : a+b

In [39]:
addition(34,56)

90

In [41]:
even = lambda x:x%2==0

In [42]:
even(44)

True

In [43]:
#MAP FUNCTION
def evenorodd(num):
  if num%2==0:
    return "the no {} is even".format(num)
  else:
    return "the no {} is odd".format(num)

In [44]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [45]:
list(map(evenorodd,lst))

['the no 1 is odd',
 'the no 2 is even',
 'the no 3 is odd',
 'the no 4 is even',
 'the no 5 is odd',
 'the no 6 is even',
 'the no 7 is odd',
 'the no 8 is even',
 'the no 9 is odd',
 'the no 10 is even']