#Multicolinearity

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('/content/drive/MyDrive/kaggle/Salary_Age_Data.csv')
df.head()

   YearsExperience   Age  Salary
0              1.1  21.0   39343
1              1.3  21.5   46205
2              1.5  21.7   37731
3              2.0  22.0   43525
4              2.2  22.2   39891

In [9]:
X = df[['YearsExperience' ,'Age']]
y = df['Salary']

In [11]:
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [12]:
## fit a OLS model 
X = sm.add_constant(X)
model= sm.OLS(y, X).fit()

In [14]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.960
Model:                            OLS   Adj. R-squared:                  0.957
Method:                 Least Squares   F-statistic:                     323.9
Date:                Fri, 27 Nov 2020   Prob (F-statistic):           1.35e-19
Time:                        09:55:58   Log-Likelihood:                -300.35
No. Observations:                  30   AIC:                             606.7
Df Residuals:                      27   BIC:                             610.9
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const           -6661.9872   2.28e+04     -0.292      0.773   -5.35e+04    4.02e+04
YearsExperience  6153.3533   2337.092      2.633      0.014    1358.037    1.09e+04
Age              1836.0136   1285.034      1.429      0.165    -800.659    4472.686
==============================================================================
Omnibus:                        2.695   Durbin-Watson:                   1.711
Prob(Omnibus):                  0.260   Jarque-Bera (JB):                1.975
Skew:                           0.456   Prob(JB):                        0.372
Kurtosis:                       2.135   Cond. No.                         626.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [15]:
#Range of R is 0 to 1 , and in this case r = 0.96 which is close to 1 , that mean this is a good model
#Here we check wheather the feature are correlated or not,if yes , then we select one feature
#Whenever we have indepent feature and the coefficient value is HIGH it mean we have multicolinearity problem
#Then check their P value, whichever feature is having high P value, we will drop that feature

In [17]:
#Age and YearsExperience are highly correlated
#Age has high P value so we will drop Age feature.
X.iloc[ : , 1 :].corr()

                 YearsExperience       Age
YearsExperience         1.000000  0.987258
Age                     0.987258  1.000000

In [18]:
X = X.drop('Age' , axis = 1)

In [19]:
X

    const  YearsExperience
0     1.0              1.1
1     1.0              1.3
2     1.0              1.5
3     1.0              2.0
4     1.0              2.2
5     1.0              2.9
6     1.0              3.0
7     1.0              3.2
8     1.0              3.2
9     1.0              3.7
10    1.0              3.9
11    1.0              4.0
12    1.0              4.0
13    1.0              4.1
14    1.0              4.5
15    1.0              4.9
16    1.0              5.1
17    1.0              5.3
18    1.0              5.9
19    1.0              6.0
20    1.0              6.8
21    1.0              7.1
22    1.0              7.9
23    1.0              8.2
24    1.0              8.7
25    1.0              9.0
26    1.0              9.5
27    1.0              9.6
28    1.0             10.3
29    1.0             10.5

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [21]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
y_pred = regressor.predict(X_test)

In [23]:
y_pred

array([ 40748.96184072, 122699.62295594,  64961.65717022,  63099.14214487,
       115249.56285456, 107799.50275317])

In [24]:
y_test

2      37731
28    122391
13     57081
10     63218
26    116969
24    109431
Name: Salary, dtype: int64

In [25]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [26]:
score

0.988169515729126