#Multiple Linear Regression

In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('/content/drive/MyDrive/kaggle/50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [42]:
#here price is dependent variable,pric is dependent on R&D Spend,Adminstration , Marketing Spend , State

#Data Splitting

In [43]:
X =df.iloc[ : , :-1]
y = df.iloc[:,4]

In [44]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [45]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

## One Hot Encoding

In [46]:
#now we will use one hot encoding in column state because it is categorical values
#so we will divide the state column into 2 column and dropping one column 
states = pd.get_dummies(X['State'] ,  drop_first= True)

In [47]:
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [48]:
#Now drop the state column from X dataset
X= X.drop('State' , axis = 1)

In [49]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [50]:
#now concat the dummie variable that we have made of column state
X = pd.concat( [X,states] , axis =1)

In [51]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

#Spliting Data into Test and Train

In [54]:
from sklearn.model_selection import train_test_split

In [57]:
X_train ,X_test, y_train ,y_test = train_test_split(X,y , test_size = 0.2 , random_state = 0)

In [58]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression

In [60]:
lin = LinearRegression()
lin.fit(X_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [61]:
y_pred = lin.predict(X_test)

In [64]:
y_pred[3]

71976.09851257896

In [66]:
#using R2
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [67]:
#value of R lands in between 0 to 1
#so more the value is close to 1,better the model is.
#therefore , this model is very good as its values is 0.93 which is very close to 1.
score

0.9347068473282423